*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Cairo,sans-serif;
}

:root{

--main:#8b5cf6;
--main2:#a855f7;

}

body{

background:#09090b;

color:white;

overflow-x:hidden;

}

.bg{

position:fixed;

width:100%;

height:100%;

background:

radial-gradient(circle at top,

rgba(139,92,246,.35),

transparent 60%);

z-index:-1;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 50px;

}

.logo{

font-size:34px;

font-weight:800;

color:var(--main);

text-shadow:

0 0 15px var(--main),

0 0 35px var(--main);

}

#search{

width:260px;

padding:13px;

border-radius:12px;

border:1px solid var(--main);

background:#15151d;

color:white;

transition:.3s;

}

#search:focus{

outline:none;

box-shadow:0 0 20px var(--main);

}

header{

text-align:center;

margin-top:70px;

}

header h1{

font-size:70px;

font-weight:800;

color:white;

}

header p{

margin-top:15px;

color:#bfbfbf;

font-size:20px;

}

.cards{

display:flex;

justify-content:center;

margin-top:80px;

}

.card{

width:360px;

background:rgba(255,255,255,.04);

backdrop-filter:blur(12px);

border:1px solid rgba(139,92,246,.3);

padding:30px;

border-radius:22px;

transition:.35s;

}

.card:hover{

transform:translateY(-10px);

box-shadow:

0 0 30px rgba(139,92,246,.55);

}

.title{

font-size:28px;

font-weight:bold;

}

.status{

margin:18px 0;

font-size:18px;

color:#4ade80;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

margin-top:12px;

cursor:pointer;

font-size:17px;

font-weight:bold;

transition:.3s;

}

.video{

background:#dc2626;

color:white;

}

.video:hover{

transform:scale(1.03);

}

.download{

background:linear-gradient(90deg,#8b5cf6,#a855f7);

color:white;

}

.download:hover{

box-shadow:

0 0 25px #8b5cf6;

transform:scale(1.03);

}
